div {
	width:400px;
	height:400px;
	background-color: #fc3;
	overflow:auto;
	box-shadow: 2px 3px 4px red;
}


h1 {
	width:400px;
	background-color: #fb5;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}