.container {
	max-width: 900px;
	margin: 0 auto 0 auto;
}

a {
	text-decoration: none;
}

h1, a {
	font-family: 'Candal', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.fas {
	display: block;
	text-align: center;
}

.header nav  {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header nav .fas {
	color:#fe8899;
}

.header nav a {
	color:#1e4254;
}

.header .img {
	background-image: url("img/background.jpg");
	background-position: center;
	background-size: cover;
	display:flex;
	flex-direction: column;
	text-align: center;
}

.header .img h1 {
	padding-top: 3em;
	color:white;

}

.header .img p {
	padding:0 2em 5em 2em;
	margin-top: 0;
	color:white;

}

.header form {
	background-color:#fe8899;
}

.header input {
	color:white;
	background-color:#fe8899;
	border: none;
	padding-left: 2em;
}









.main h1 {
	text-align: center;
	border:1px dashed grey;
	border-bottom: none;
	color:#1e4254;
	font-size: 1.8em;
	width:100%;
	margin: 1em 0 2em 0;
	padding-top: 1em;
}


.main .sect1,
.main .sect2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.main article {
	width:33%;
	margin-bottom: 2em;
}



.main a,
.main .prix {
	color: #fe8899;

}





.footer {
	background-color: #1e4254;
}


.footer .navfoot {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.footer a {
	color:white;
}

.footer p {
	color:white;
	text-align: center;
	font-size: 0.7em;
}

.footer img {
	width:40px;
}

.footer {
	margin-top: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer span {
	text-decoration: underline;
}





@media screen and (max-width:900px) {

	.header nav  {
	display: flex;
	flex-direction: column;
	align-items: center;
	}

	.header nav a {
		padding-bottom: 2em;
	}
	
	.main .sect1,
	.main .sect2 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
	}

	.main article {
	width:auto;
	margin-bottom: 2em;
	padding:0 2em 0 2em;
}

	.footer .navfoot {
	display: flex;
	flex-direction: column;	
	text-align: center;
}
	.footer .navfoot a {
		padding-top: 2em;
	}

}