* {
    box-sizing: border-box;
}

.container {
	max-width: 1000px;
	margin:0 auto 0 auto;
	padding-top: 2em;
}



.containmenu{
	max-width: 1000px;
	margin:0 auto 0 auto;
	text-align: center;
}










.header .titre {
	color:grey;
	display:inline-block;
	vertical-align: middle;

}

.header nav {
	text-align: center;
	position: relative;
}




.header .horiz {
	display:inline-block;
	vertical-align: top;
}


.header nav li {
	list-style-type: none;
}

.header .divprod {
	position:absolute;
	top:3em;
	right:0;
	z-index: 10;
	display:none;
	background-color:#42c5dd;
	width:100%;
}

.header .divprod ul {
	display:inline-block;
	vertical-align: top;
	padding-bottom: 1em;
	text-align: center;
	width:48%;
}


.header .divapp {
	position: absolute;
	top:3em;
	right:0;
	z-index: 20;
	display:none;
	background-color:#42c5dd;
	width: 100%;
}

.header .divapp ul{
	display:block;
	vertical-align: top;
	padding-bottom: 1em;
	text-align: center;
	width:50%;

}

.header .divapp div {
	display:inline-block;
	width:50%;
	vertical-align: top;
}
 
 .header a {
 	text-decoration: none;
 }


.header .horiz>a {
	color:#42c5dd;
	background-color: white;
	padding: 1em 1em 1em 1em;
	font-weight: bolder;
	display:block;
	
}

.header .horiz>a:hover {
	background-color: #42c5dd;
	color:white;
}

.header .horiz:hover .divprod {
	display:inline-block;
}

.header .horiz:hover .divapp {
	display:inline-block;
}

.header li a {
	color:white;
}

.header li h1{
	color:#7edaec;
}

hr {
	border:1px solid #42c5dd;

}












.container h1 {
	color:#42c5dd;
}

.container p {
	padding-bottom: 2em;
}















.footer {
	background-color: #42c5dd;
}
.footer p {
	color:white;
	text-align: center;
	font-size: 0.7em;
}

.footer img {
	width:40px;
}

.footer {
	margin-top: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer span {
	text-decoration: underline;
}