@font-face {
    font-family:'Exo 2';
    src:url('../fonts/Exo_2/Exo2-Black.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src:url('../fonts/Comfortaa/Comfortaa-Regular.ttf');
}


@keyframes slide {
	0% {
		transform:translateX(100vw);
	}

	100% {
		transform:translateX(0);
	}
}

@keyframes slide_return {
	0% {
		transform:translateX(0);
	}

	100% {
		transform:translateX(100vw);
	}
}


/* @keyframes title_change {

    0%{
        transform: skew(50);
    }
    50%{
        transform: skew(25);
    }
    100%{
        transform: skew(0);
    }
} */

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Exo 2', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}



body{
    font-family: 'Comfortaa', cursive;
    line-height: 1.5em;
    
}

/*********************BACKGROUND*************************/
/*******************************************************/

.filter {

    width:100%;
    min-height:100vh;
    background: rgba(255,255,255,0.5);

}


.background {
    background-image: url('../img/background/backgroundImage.jpeg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    margin-bottom: 0;
}



.background_formation {
    background:url('../img/background/aPropos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    margin-bottom: 0;
    box-shadow: 0px 1px 13px 7px darkgrey;
    min-height: 100vh;
    margin-top:0;
    padding-top: 1em;

} 



.background_compétence {
    background-image: url('../img/background/aPropos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    margin-bottom: 0;
    box-shadow: 0px 1px 13px 7px darkgrey;
    min-height: 100vh;
    margin-top:0;

    .container {
        padding-top: 5em;
    }   
}

/********************LOADING****************************/
/*******************************************************/
/* 
.loader {
    position : fixed;
    z-index: 9999;
    background : url('../img/loading.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
} */





/******************ANIMATION*************************/
/***************************************************/

 .hidden {
    display:none;  
} 

/* .anime_title {
    animation: title_change 0.4s;

} */

.slide_menu {
    animation: slide 1s;
   
}

.slide_menu_return {
    animation: slide_return 1s;
}


/****************************************/
/*****************Header***************/
/******************************************/
header{
    nav{
        position:fixed;
        top:1em;
        right:1em;
        z-index: 1000;
        .menu {
            display:flex;
            align-items: center;
            
            line-height: 0.1em;
            z-index: 1000;
            #menu_hidde {
                background-color: #232523;
                border-radius: 2px;
               
            }
            .menu_list{
                display:flex;
                justify-content: space-between;
                padding-left: 0;
                
                li{
                    list-style: none;
                    .nav_link {
                        padding:0 2em;
                        color: #EBEBEB;
                        transition:0.4s;
                        border-radius: 2px;
                    }
                    .nav_link:hover {
                        color:#232523;
                        background-color: #EBEBEB;
                        padding:0.5em 2em;
                        
                    }
                
                }
            }
            a{
                text-decoration: none;
                color: #EBEBEB;

                .fas {
                    padding:0.55em 1em;
                }

            }
            
            .menu_click {
                transition:background-color 0.5s;
                background-color: #232523;
                border-radius: 2px;
            }

            .menu_click:hover {

                background-color: #EBEBEB;
                color: #232523;
            }
        }
    }        
}


/*******************************************/
/**************MAIN***********************/
/********************************************/
main {

    .title_main {
        position: fixed;
        top: 37%;
        left:8%;
        line-height: 125%;
        font-size: 5vw;
        .name {
            display:block;
        }
    }

/******************ABOUT ME**************************
****************************************************/

    .about_title {
        position: static;
        margin-left:55%;
        padding-top: 40vh;
        width:40vw;
        text-align: center; 
        z-index: 100;


        .title_little {
            line-height:125%;  
            font-size: 2.5em;
        }
    }
    
    .about{
        position: static;
        right:0 ;
        margin-left: 50%;
        margin-top:50vh;
        margin-right: 2em;
        margin-bottom:0;
        padding:1em 1.5em;
        width:48vw;
        z-index: 100;

        article {
            width:100%;
            text-align: center;
        }

    }

/*************************FORMATION***********************
**********************************************************/

    .about_formation {
        margin :0 auto;
       
        
        .title_formation {
            text-align: center;
            font-size:5vw;
            padding-top: 1em;
            margin:0 auto 2em auto;
        }
          .item {
            display: flex;
            max-width: 1000px;
            margin: 1em auto;
            
            .image {
              padding: 1em 2em;
             
              
              > div {
                position: relative;
                text-align: center;
                font-size: 0.8em;
          
                
              }

              .pixel {
                    margin-right: 7px;
              }
              
              img {
                border-radius: 50%;
                height: 5em;
                
              }
              span {
                display: block;
                clear: both;
                padding: 0.25em 0;
                margin: 0.5em 0;
                color:  #212020;
                font-weight: bold;
                //text-shadow: 1px 1px 1px #72862F;
              }
            }
            
            .details {
              position: relative;
              flex-grow: 1;
              //background-color:#e6e6e8 ;
          
              > div {
                    
                    background:rgba(255,255,255,0.8);
                    padding: 1.5em;
                    margin: 1em 0;
                
                h2 {
                  color: #72862F;
                  font-size: 1.4em;
                  margin: 0;
                  padding: 0 0 0.5em 0;
                  letter-spacing: 0.1em;
                }
                h3 {
                    color: #72862F;
                  font-size: 1em;
                  margin: 0;
                  padding: 0 0 0.5em 0;
                  letter-spacing: 0.1em;
                }
                
                p {
                  margin: 0;
                  padding: 0;
                  line-height: 150%;
                }
              }
          
              
            }
            
          }
        
    }

/**************COMPETENCES********************************
**********************************************************/
    
    .competence {
        
        h1 {
            margin-bottom: 1em;
        }
        .web_logo_container {

            border-top: solid 2px darkgray;
            ul {
                margin: 1em auto;
                display:flex;
                flex-wrap: wrap;

                li {

                    list-style: none;
                    width: 33%;
                    margin-bottom: 2em;

                    img {
                        height:5em;
                    }
                }
            }
        }
    }

}








/*************************LOGIN****************************
***********************************************************/

.login_form {
    position: absolute;
    top: 30vh;
    left:50%;
    width:40vw;
    text-align: center; 
    z-index: 100;

    li {
        list-style: none;

        label {
            display:inline-block;
            width: 200px;
        }
    }
}


