@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo_2/Exo2-Black.ttf");
}

@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide_return {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes slide_return {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@-webkit-keyframes title_change {
  0% {
    -webkit-transform: skew(50);
            transform: skew(50);
  }
  50% {
    -webkit-transform: skew(25);
            transform: skew(25);
  }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}

@keyframes title_change {
  0% {
    -webkit-transform: skew(50);
            transform: skew(50);
  }
  50% {
    -webkit-transform: skew(25);
            transform: skew(25);
  }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 100px;
  margin: 0 auto;
}

body {
  font-family: 'Comfortaa', cursive;
  background-image: url("../img/backgroundImage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/********************LOADING****************************/
/*******************************************************/
.loader {
  position: fixed;
  z-index: 9999;
  background: url("../img/loading.gif") 50% 50% no-repeat;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
}

/******************ANIMATION*************************/
/***************************************************/
.hidden {
  display: none;
}

.anime_title {
  -webkit-animation: title_change 0.4s;
          animation: title_change 0.4s;
}

.slide_menu {
  -webkit-animation: slide 1s;
          animation: slide 1s;
}

.slide_menu_return {
  -webkit-animation: slide_return 1s;
          animation: slide_return 1s;
}

/*****************Header*************/
/**************************************/
header nav {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.1em;
  z-index: 1000;
}

header nav .menu #menu_hidde {
  background-color: #232523;
  border-radius: 2px;
}

header nav .menu .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

header nav .menu .menu_list li {
  list-style: none;
}

header nav .menu .menu_list li .nav_link {
  padding: 0 2em;
  color: #EBEBEB;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px;
}

header nav .menu .menu_list li .nav_link:hover {
  color: #232523;
  background-color: #EBEBEB;
  padding: 0.5em 2em;
}

header nav .menu a {
  text-decoration: none;
  color: #EBEBEB;
}

header nav .menu a .fas {
  padding: 0.55em 1em;
}

header nav .menu .menu_click {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #232523;
  border-radius: 2px;
}

header nav .menu .menu_click:hover {
  background-color: #EBEBEB;
  color: #232523;
}

/**************MAIN*******************/
/*******************************************/
main .title_main {
  position: fixed;
  top: 37%;
  left: 8%;
  line-height: 125%;
  font-size: 5vw;
}

main .title_main .name {
  display: block;
}

main .about_title {
  position: absolute;
  top: 30vh;
  left: 55%;
  width: 40vw;
  text-align: center;
  z-index: 100;
}

main .about_title .title_little {
  line-height: 125%;
  font-size: 2.5em;
}

main .about {
  position: absolute;
  left: 50%;
  top: 100vh;
  margin-right: 2em;
  padding: 1em 1.5em;
  width: 48%;
  z-index: 100;
}

main .date {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #909F35;
}

/*************************LOGIN****************************
***********************************************************/
.login_form {
  position: absolute;
  top: 30vh;
  left: 50%;
  width: 40vw;
  text-align: center;
  z-index: 100;
}

.login_form li {
  list-style: none;
}

.login_form li label {
  display: inline-block;
  width: 200px;
}
/*# sourceMappingURL=style.css.map */